	*{
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}
			body{
				line-height: 1.5;
				/*background: url(images/bg/about.png);*/
				background: #F7F3EB;
			}
			.pic{
				/*max-width: 100%;*/
				margin:40px auto;
				width: 80%;
			}
			.about_title{
				font-size: 40px;
			    font-family: arial,"微軟正黑體";
			    padding: 50px 0 10px 0;
			    text-align: center;
			    color: #435258;
				}
				.about_title{
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn; 

  animation-duration: 1.5s; 
  -webkit-animation-duration: 1.5s;

  animation-timing-function: ease-in-out; 
  -webkit-animation-timing-function: ease-in-out;   

  visibility: visible !important; 
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0.0;   
  }
  60% {
    transform: scale(1.1);  
  }
  80% {
    transform: scale(0.9);
    opacity: 1; 
  } 
  100% {
    transform: scale(1);
    opacity: 1; 
  }   
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;   
  }
  60% {
    -webkit-transform: scale(1.1);
  }
  80% {
    -webkit-transform: scale(0.9);
    opacity: 1; 
  } 
  100% {
    -webkit-transform: scale(1);
    opacity: 1; 
  }   
}
			hr{
				margin: 0 auto;
			}
			.about_pic{
				background: #fff;
				margin: 85px 0 115px 0;
				display: flex;
				justify-content: space-between;
			}

			
			.img2{
				 width: 370px;
    			height: 380px;
			    margin: 0 50px;
			}
			p.about_think {
				align-self: center;
				padding: 91px;
    			line-height: 2;
    			font-size: 20px;
    			letter-spacing: 0.190em;
			}
			img.bar{
				width: 20px;
				height: 200px;
			}
			p.text{
				text-align: center;
			    padding: 45px 114px;
			    line-height: 2;
			    letter-spacing: 0.190em;
			    margin: 0 auto;
			}
			span.about_tag{
				font-size: 25px;
				color:#435258;
				font-weight: bold;
			}

			
			@media (max-width: 414px){
				.pic{
					width: 90%;
				}
				.about_pic {
					margin: 30px 0 30px 0;
				    flex-direction: column;
				}
				.img2{
					margin:5px;
				}
				p.about_think{
					padding: 15px;
				}
				p.text{
					padding: 10px 10px;
				}
			
			}