.footer{
	margin-top: 0px;
	/*height:150px;*/
}
.footer-basic-centered{
	background-color: #435258;
	/*box-shadow: 0 2px 2px 0 rgba(100,100 ,100 , 0.12);*/
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	text-decoration: none;
	/*position: absolute;*/
	/*bottom:0;
    left:0;
    right:0;*/
}
.footer.footer {
    text-align: center;
}
.footer_menu{
	padding-top: 1px;
}
.footer_menu div {
	text-align: center;
}
.footer_menu div li{
	display:inline-block;
	margin-right: 0px;
}
.footer_menu div li:nth-child(2){
	margin:0 40px;
}
.footer_menu div li:nth-child(3){
	margin-right: 0;
}
.footer_menu div li .footer-company-motto{
	font-size: 20px;
	margin: 14px 0 14px 0;
	cursor: pointer;
	color:#fff;
}
.footer-basic-centered .footer-company-name{
	margin:0;

}
.footer-basic-centered .footer-company-name i{
	font-size: 22px;
	vertical-align: middle;
}
.footer-basic-centered .footer-company-name i span{
	color:  #fff;
	font-size: 14px;
	margin: 0;
	font-family: Arial, Helvetica, "微軟正黑體","新細明體","細明體",sans-serif;
	letter-spacing: 2px;
}

.footer-basic-centered .footer-links{
	list-style: none;
	text-align: center;
	/*padding: 8px 0 1px ;*/
	margin: 0;
}
.footer-links img{
	display:inline;
}
.footer-basic-centered .footer-links  i{
	display:inline-block;
	text-decoration: none;
	font-size: 42px;
	color:#435258;
}
.footer-basic-centered .footer-links i:nth-child(2){
	padding: 0 10px ;
}
.footer-company-name i{
	font-size: 20px;
	color:#435258;

}
.footer-company-name:last-child{
	font-size: 12px;
	padding: 8px 0 10px 0;
	color:#fff;
	font-family: Arial;
	letter-spacing: 0.12em;
	display:block;
}
.flex_iconadd{
	/*display: flex;*/
	justify-content: center;
}
.add_copy{
	flex-direction:column;
}
/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 767px) {
    .footer{
        margin-top: 0px;
        height:0px;
    }
	.footer-basic-centered{
		padding: 10px 0 5px;
	}
	.footer_menu{
		margin-top: 0px;
        padding-top: 0px;
	}
	.footer-basic-centered .footer_menu li{
		
		margin:0;
	}

	.footer_menu div li .footer-company-motto{
		font-size: 20px;
		margin: 14px 0 14px 0;
		cursor: pointer;
		color:#fff;
		font-weight: bold;
	}
	.footer_menu div li{
		display:inline-block;
		margin-right: 43px;
	}
	.footer_menu div li:nth-child(2){
		padding: 0px 0px ;
		margin: 0px 64px;
	}
	.footer-basic-centered .footer-company-name{
		font-size: 12px;
		margin:0;
	}
	.footer-basic-centered .footer-company-name i{
		display: block;
		font-size:20px;
		padding-bottom:4px;
		display: none;
	}
	.footer-basic-centered .footer-company-name i span{
		font-size:14px;
	}
	.footer-company-name:last-child{
		font-size: 14px;
		padding: 4px 0 4px 0;
		color:#fff;
	}

	.footer-basic-centered .footer-links{
		padding: 6px 0 2px;
	}

	.footer-basic-centered .footer-links  i{
		font-size: 32px;
	}
}