﻿header{
	height:100px;

}
.header{
	position: fixed;
	top:0;
	left:0vw;
	right:0vw;
	background-color:#FFFFFF;
	box-sizing: border-box;
	z-index: 10;
	transition: all .55s;
}
		
.navbar{
	background:#435258;
	width:100%;
	padding: 0;
	margin:0 auto;
	display: block;
	height: 100px;
	/*text-align: center;*/
	box-shadow:0 2px 2px #cedae6;
	min-width: 1000px;
	transition: all .15s;
}

/* Logo */

.navbar .logo{
	vertical-align: middle;	
	display: inline-block;
	cursor: pointer;
	margin-left: 8.75%;
	float:left;
	
}
.navbar .logo img{
	height: 80px;
	transition: all .15s;
}
.navbar .logo .small_bar{
	transform: scale(0.75);
	margin-top: -8px;
}
.navbar.small_bar{
	height: 90px;
}
.hamburger{
	display: none;
}
/* The navigation links */
.navbar a{
	font-size: 18px;
	cursor: pointer;
}
.navbar a:hover{
	color:#cedae6;
	font-weight: bold;
	border-bottom:1px solid #cedae6;
}
#hovercolor:hover{
	color:#fff;
}
.navbar a, .sm_nav a{
	display: inline-block;
	text-decoration:none;
	margin:0;
	padding: 0;
	margin-right:40px;
	/*line-height: 32px;*/
	min-width: auto;
	color: #fff;
}
.navbar .bar{
	width: 100%;
	height: 100%;
	display: block;
	padding-top: 10px;
	margin-bottom: -20px;
	text-decoration: none;
}
.navbar .bar.small_bar{
	padding-top: 10px;
	margin-bottom: -10px;
}
.navbar .menu{
	display: inline-block;
	margin:20px 8.75% 0 0 ;
	float:right;
	transition: all .15s;
}
.news_submenu{
	margin: 0;
    position: absolute;
    text-align: center;
    line-height: 35px;
    left: -14.3px;
    top: 35px;
    width: 100px;
     opacity: 0; 
    transition: all .5s;
    box-shadow: none;
    color: #345258;
    background: rgba(52, 82, 88, 0.57);
}
#hovercolor{
	display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 0;
    /* margin-right: 40px; */
    /* line-height: 32px; */
    min-width: auto;
    color: #fff;
}
.news_submenu4{
	margin: 0;
    position: absolute;
    text-align: center;
    line-height: 35px;
    left: -14.3px;
    top: 35px;
    width: 100px;
	opacity: 0;
    transition: all .5s;
    box-shadow: none;
    color: #345258;
    background: rgba(52, 82, 88, 0.57);
}
li:hover .news_submenu {
    opacity: 1;
}

li:hover .news_submenu4 {
    opacity: 1;
}

.menu li:nth-child(2){
	position: relative;
}

.navbar .menu.small_bar{
	margin:10px 8.75% 0 0 ;

}
#menu li:nth-child(4) a {
	margin-right:0px;
}
.navbar  nav a:hover {
	/*opacity: 1;*/
}

.navbar  nav a.selected {
	/*color: #608bd2;*/
}

/* Login/Sign up buttons */
.navbar  .menu, .navbar .menu li, .header_right,.header_right li{
	list-style: none;
	display: inline-block;
	min-width: auto;
}
.header_right .member{
	margin-right: 0px;
}
.header_right li{
	
}
.header_right li img{
	margin-bottom: -2px;
}
.header_right .cart{
	margin-right: 35px;
}
.logo a{
	text-decoration:none;
	margin-right:0px;
}
.logo a:hover,
.header_right .cart:hover,
.header_right .member:hover{
	border-bottom: none;
}
/*#logo_a{*/
	/*text-decoration: none;*/
/*}*/
.member img{
	/*margin-left: 35px;*/
}

.header-login-signup  ul li:hover{
	
}
.sm_nav{
	display: none;
}
.sm_header_right{
	display: none;
}

/* The sign up button */


/* Making the header responsive */
/*-----------------------------------------------------------------@ media*/
@media screen and (max-width:767px) {
	.hamburger{
		width:50px;
		height:50px;
		background: ;
		display:block;
		float:left;
		margin:5px 0 0 6.51890482398957%;
		cursor: pointer;
	}
	.ham_bar{
		width:40px;
		height: 5px;
		background: #fff;
		margin:0 auto;
		transition: all .4s cubic-bezier(.44,.33,.39,.96);
	}
	.top_bar{
		margin-top: 7px;
	}
	.top_bar_active{
		transform: translateY(10px) rotate(45deg);
		opacity: 0;
	}
	.mid_bar{
		margin:10px auto;
	}
	.mid_bar_active{
		transform: rotate(45deg);
	}
	.mid_bar2{
		margin:-15px auto 10px;
	}
	.mid_bar2_active{
		transform: rotate(-45deg);
	}
	.bot_bar_active{
		transform: translateY(-10px) rotate(315deg);
		opacity: 0;
	}
	header{
		height:80px;
	}
	.header{
		position: fixed;
		top:0;
		left:0;
		right:0;
		max-width: 100vw;
		background-color:#FFFFFF;
		box-sizing: border-box;

	}
	.header .navbar {
		max-width:100vw;
		padding: 0;
		margin:0;
		display: block;
		height: 80px;
		min-width: 400px;
	/*text-align: center;*/
	}
	.header .bar{
		width:100%;

		text-align: center;

	}
	.navbar .menu{
		display: none;
		width: 0;
	}
	.navbar  .logo{
		vertical-align: middle;	
		display: inline-block;
		cursor: pointer;
		float: none;
		margin-left: 0px;
	}
	.navbar  .logo img{
		height: 60px;
		transform: scale(.8);
	}
	.sm_header_right{
		display: inline-block;
		list-style: none;
		float: right;
		margin-top: 14px;
		margin-right:40px;
	}
	.sm_header_right li{
		float: left;
		margin-right: 45px;
	}
	.sm_nav{
		position: fixed;
		right:0;
		left:0;
		display: block;
		background: rgba(67,82,88,0.5);
		animation: all .75s;
		box-sizing: border-box;
		box-shadow:0 0px 0px #cedae6;
		transform: translateY(-495px);
		z-index: -1;
		transition: all .33s cubic-bezier(.44,.33,.36,1.06);
		max-width:540px;
	}
	.sm_nav_active{
		transform: translateY(0px);
		background: rgba(67,82,88,0.93);
		/*box-shadow:0 2px 1px #ccc;*/
		padding: 20px 0 30px;
	}
	.sm_nav a{
		color: rgba(255,255,255, 0);
		font-size: 32px;
		display: block;
		margin:0 auto;
		width: 100%;
		text-align: center;
		padding:30px 0px 0px;
		transition: all .7s cubic-bezier(.44,.33,.36,1.06);
		transform: translateX(-500px);
		position: relative;
		text-shadow:0 0 20px rgba(255,255,255, .1);
	}
	.sm_nav a .botBar{
		width: 0px;
		height: 1px;
		margin:20px auto 0;
		bottom: 15px;
		left:calc(50% - 130px);
		background:rgba(191,191,191,1); /*linear-gradient(to right, rgba(67,82,88,1) 0%, rgba(191,191,191,1) 15%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(191,191,191,1) 85%, rgba(67,82,88,1) 100%);*/
		transition: all .45s;
	}
	.sm_nav a .botBar.active{
		animation: botBar .35s forwards ;
		animation-delay: 0.45s;
	}

	@keyframes slideRight {
     from {
     	transform: translateX(-800px);
     	left:calc(50% - 130px);
     }
     to {
     	transform: translateX(0px)
     }
    }
    @keyframes botBar {
     from {
     	width:0px;
     }
     to {
     	width:260px;
     }
    }

	.sm_nav .active1{
		animation: slideRight .4s forwards ;
		animation-delay: 0.12s;
		text-shadow:0 0 0 rgba(251,251,251,1);
	}
	.sm_nav .active2{
		animation: slideRight .4s forwards ;
		animation-delay: 0.15s;
		text-shadow:0 0 0 rgba(251,251,251,1);
	}
	.sm_nav .active3{
		animation: slideRight .4s forwards ;
		animation-delay: 0.18s;
		text-shadow:0 0 0 rgba(251,251,251,1);
	}
	.sm_nav .active4{
		animation: slideRight .4s forwards ;
		animation-delay: 0.21s;
		text-shadow:0 0 0 rgba(251,251,251,1);
	}
	.sm_header_right li:nth-child(2){
		margin-right: 0px;
	}
	.sm_header_right a{
		margin:0;
	}
	.sm_nav a.active{
		opacity: 1;
	}
	.sm_nav .sm_nav_first{
		padding-top:40px;
	}
	.sm_nav .sm_nav_last{
		padding-bottom:40px;
	}

}
