.ani_frame{
	/*display: none; !*-----------------註解掉 --*/
	text-align: center;
	margin: auto 0;
	width:100vw;
	max-width: 1600px;
	height:900px;
	background:rgba(255,255,255,0);
	position: fixed;
	top:0;
	z-index: 11;
}
.perspective{
	perspective:2800px;
}
.ani_logo{
	background: url("images/index/LOGO_no_o.png") no-repeat center;
	background-size: contain;
	height:900px;
	width:1382px;
	position: relative;
	margin:0 auto;
	overflow: hidden;
	opacity: 0;
	transform: scale(.5,.5);

}
.mask{
	background: rgba(255,255,255,1);
	position: absolute;
	transition: all .3s;
}
.fa{
	width: 32.8%;
	height: 50.5%;
	top:-3px;
	left:-3px;
	transform: scale(1,1);
}
.nt{
	width: 36.13%;
	height: 50.85%;
	top:-5px;
	left: 495px;
	transform: scale(1,1);
}
.a{
	width: 29.2%;
	height: 50.5%;
	top:-1px;
	left: 992px;
	transform: scale(1,1);
}
.r{
	width: 28.2%;
	height: 50.5%;
	bottom:-2px;
	left: -2px;
	transform: scale(1,1);
}
.o_pers{
	z-index: 1;
	position: absolute;
	perspective: 700px;
	width: 32.07%;
	height: 50%;
	bottom:-2px;
	left: 320px;
	/*background: rgba(97, 184, 188, .5);*/
	border-radius: 50%;
	transform:translateY(450px) ;
	/*display: none;*/
	opacity: .3;

}
.o{
	background: url("images/index/LOGO_o.png")no-repeat center;
	width: 100%;
	height: 100%;
	position:absolute;
	bottom: 0px;
	left: 0px;
	transform:rotateY(0deg) ;

}
.i{
	width: 22.22%;
	height: 50%;
	bottom:-2px;
	left: 686px;
	transform: scale(1,1);
}
.d{
	width: 28.25%;
	height: 49.93%;
	bottom:-2px;
	left: 992px;
	transform: scale(1,1);
}
.skip{
	cursor:pointer;
	color:#E3E3E3;
	position: fixed;
	right:200px;
	bottom:100px;
	display: inline-block;
}
.skip{
	font-size: 32px;
}
.main{
	/*display: none;*/
	width: 100%;
	margin:0 auto;
	opacity: 0;  /*----------------- 0 --*/
	/*width: 1600px;*/
}
/*.slider{
	background: #cedae6;
}
*/
.slick-prev,
.slick-next
{	width: 65px;
	height:65px;
	z-index: 1;
	margin:0 0;
}
.slick-prev{
	left:2.5%;
}
.slick-next{
	right:2.5%;
}
.main_link{
	/*background: url("images/index/bg0.png")no-repeat center;
	background-size: cover;*/
	padding: 32px 265px 190px;
	box-sizing: border-box;
	perspective: 1600px;
	background: #F7F3EB;
}
.arrow_dowm{
	display: block;
	margin:0 auto;
	text-align: center;
	margin-bottom: 20px;
	z-index: 1;
	position: relative;
}
.arrow_dowm img{
	transform: rotate(90deg);
}
@keyframes arrow_dowm {
	0%{
		/*transition:all .65s cubic-bezier(.01,.74,.74,.9);*/
		transform: translateY(10px) rotate(90deg);
	}

	100%{
		/*transition: all .65s cubic-bezier(.51,.24,.94,.53);*/
		transform: translateY(-10px) rotate(90deg);
	}
}
.arrow_dowm img.active{
	animation:arrow_dowm .65s  cubic-bezier(.01,.74,.74,.9) infinite alternate;
}


.head {
    width: 200px;
    padding: 10px;
    background: #cedae6;
    margin: 0px auto 0;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    color: #435258;
    clear: right;
    margin-bottom: 20px;
    font-size: 30px;
}
.proframe{
	border:4px solid #fb8134;
	display:inline-block;
	vertical-align: middle;
}
.pro_intel{
	transform:translate3d(0px,0px,0px);
	perspective: 900px;
	opacity: 1;
}
.intel_pro_img{
	margin-top: 0px;
}
.proframe img{
	width:220px;
	display: block;
}
.pro_intel_txt{
	float:right ;
	margin-top: 50px;
}
.pro_text{
	text-align: center;
	background:#435258;
	color:white;
	font-size:23px;
	padding: 20px 0;
}
.pro_text p{
	padding: 7px 0;
	font-size:18px;
}
.text{
	display: inline-block;
	/*margin-left: 186px;*/
	max-width: 400px;

}
.text h6{
	line-height: 50px;
}
.text p{
	line-height: 25px;
	font-size: 16px;
}
.pro_intel_txt_L{
	margin-left: 0px;
	margin-top: 85px;
}
.intel_pro_img_R{
	float:right;
	display: inline-block;
	margin-bottom:25px
}
.sec_hand_pro_text{

	background:	#fb8134;
}
.sec_hand_pro_text_L{
	margin-top:80px;
	margin-left: 0px;
}
.sec_hand_txt{
	margin-top: 0px;
}
.sec_hand_pro_img{
	margin-top:0px;
}
.sec_hand_pro_img_R{
	float: right;
}
.Pre_order_txt{
	vertical-align: middle;
	margin-top: 0px;
	margin-left: 30px;
}
.Pre_order_txt_L{
	margin-left: 328px;
	margin-top: 85px;
}
.Pre_order_img_R{
	float:right;
}
.slider{
	z-index:1;
}
.slick-dotted.slick-slider{
	margin-left: 0px;
	margin-bottom: 0px;
}
.slick-dots{
	bottom: 12px;
}
