body{
    /*background: url(images/bg/bg2.png);*/
    background-repeat: no-repeat;
    background: #FBF9F5;
    background-position: center center;
    overflow: hidden;
}
.second_width {
    margin: 0 auto;
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;
}
.second_circle{
    max-width: 960px;
    height: 60px;
    color: #435258;
    margin: 0 auto;
    display: flex;
    line-height: 60px;
}
.secone_new {
    max-width: 1000px;
    height: 30px;
    color: #435258;
    margin: 40px auto;
    display: flex;
    line-height: 60px;
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    background: #fff;
}
/*
==============================================
fadeIn
==============================================
*/

.secone_new{
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;

    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    visibility: visible !important;
}

@keyframes fadeIn {
    0% {
        transform: scale(0);
        opacity: 0.0;
    }
    60% {
        transform: scale(1.1);
    }
    80% {
        transform: scale(0.9);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
    }
    60% {
        -webkit-transform: scale(1.1);
    }
    80% {
        -webkit-transform: scale(0.9);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}
.second_choose{
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
}
.second_pa{
    padding: 10px;
    letter-spacing: 0.190em;
}
a.second_search {
    /*line-height: 2.5;*/
    background: #325258;
    height: 30px;
    width: 100px;
    margin: 10px;
}
.choose_pro{
    flex: 1;
    margin: 10px;
    text-align: center;
    font-family: "微軟正黑體";
}
.second{
    margin: 0 23px 0 0 ;
    /* height: 310px;*/
}
.second_pic{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /*margin-bottom: 100px;*/
    opacity: 0;
}
.section2,
.section4,
.section6{
    opacity: 1;
}
.second_News{
    font-size: 18px;
    line-height: 40px;
}
.second_title {
    padding: 0 30px 0 30px;
    border-bottom: 1px solid #cedae6;
    color: #435258;
}
.second_title:hover{
    color:#FB8134;
}
.second_search{
    font-size:16px;
    line-height: 2;
    color:#cedae6;
    font-family: "微軟正黑體";
    font-weight: bold;
    width: 50px;
    /*border-radius: 10px;*/
    height: 30px;
}
.sccond_imgshow{
    width: 254px;
    height: 275px;
}
.second_sale{
    width: 254px;
    height: 65px;
    background: #fff;
    text-align: center;
    font-size: 18px;
    border-radius: 220px;
}
.second_neme{
    line-height: 40px;
    color:#435258;
    font-size: 16px;
}
.second_na{
    color:#435258;
    font-size: 12px;
}
.nt{
    color: #FB8134;
    font-weight: bold;
    font-family: Arial;
}
.last{
    /*margin-bottom:  100px;*/
}
.botton{
    padding-bottom: 50px;
}
.slider{
    overflow: hidden;
    position: relative;
    min-width: 644px;
    height: 699px;

}
.slider img {
    display: none;
    position: absolute;
    margin:auto;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

.back-to-top {
    background-color: rgb(240, 240, 240);
    border-width: 0;
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 16px;
    width: 50px;
    position: fixed;
    right: 0px;
    top: 626px;
}
.back-to-top .label {
    display: block;
    height: 18px;
    margin:auto;
    overflow: hidden;
    width: 26px;
}


@media screen and (min-width: 414px){
    .second{
        margin: 0 0 0 0;
        padding-bottom: 20px;
    }
    .botton{
        padding-bottom: 20px;
    }
}

/*------------------LOGO動畫-------*/
.main{
    opacity: 0;
}
.ani_frame{
    /*display: none; !*註解掉*!*/
    text-align: center;
    margin: auto 0;
    width:100vw;
    max-width: 1600px;
    height:900px;
    background:rgba(67,82,88,1);
    position: fixed;
    top:0;
    z-index: 11;
}
.perspective{
    perspective:2800px;
}
.ani_logo{
    background: url("images/index/LOGO_white.png") no-repeat center;
    background-size: contain;
    height:900px;
    width:1382px;
    position: relative;
    margin:0 auto;
    overflow: hidden;
    opacity: 0;
    transform: scale(.5,.5);

}
.mask{
    background: rgba(67,82,88,1);
    position: absolute;
    transition: all .3s;

}
.fa{
    width: 32.8%;
    height: 50.5%;
    top:-3px;
    left:-3px;
    transform: scale(1,1);
}
.nt{
    width: 36.13%;
    height: 50.85%;
    top:-5px;
    left: 495px;
    transform: scale(1,1);
}
.a{
    width: 29.2%;
    height: 50.5%;
    top:-1px;
    left: 992px;
    transform: scale(1,1);
}
.r{
    width: 28.2%;
    height: 50.5%;
    bottom:-2px;
    left: -2px;
    transform: scale(1,1);
}
.o_pers{
    z-index: 1;
    position: absolute;
    perspective: 700px;
    width: 32.07%;
    height: 50%;
    bottom:-2px;
    left: 320px;
    /*background: rgba(97, 184, 188, .5);*/
    border-radius: 50%;
    transform:translateY(450px) ;
    /*display: none;*/
    opacity: .3;

}
.o{
    background: url("images/index/LOGO_o.png")no-repeat center;
    width: 100%;
    height: 100%;
    position:absolute;
    bottom: 0px;
    left: 0px;
    transform:rotateY(0deg) ;

}
.i{
    width: 22.22%;
    height: 50%;
    bottom:-2px;
    left: 686px;
    transform: scale(1,1);
}
.d{
    width: 28.25%;
    height: 49.93%;
    bottom:-2px;
    left: 992px;
    transform: scale(1,1);
}
.skip{
    cursor:pointer;
    color:#E3E3E3;
    position: fixed;
    right:200px;
    bottom:100px;
    display: inline-block;
}
.skip{
    font-size: 32px;
}
.slick-prev,
.slick-next
{	width: 65px;
    height:65px;
    z-index: 1;
    margin:0 0;
}
.slick-prev{
    transform: translate(0,-50%) rotate(180deg);
}
.slick-prev{
    left:10.5%;
}
.slick-next{
    right:10.5%;
}
.section1{

}
.section1 a,
.section3 a,
.section5 a{
    transform: translateY(-40%);
}

:focus {
    /*outline: -webkit-focus-ring-color auto 5px;*/
    /*outline-color: -webkit-focus-ring-color;*/
    /*outline-style: auto;*/
    outline-width: 0px;
}
@media screen and (max-width:767px) {
    body{
        overflow: hidden;
    }
    .slider{
        overflow: hidden;
        width:100vw;
        min-width: 400px;
        max-width: 100vw;
        height:211px;
    }
    .slider img{
        width:inherit;
        margin:0px;
    }
    .secone_new{
        margin-top: 0px;
    }
    .back-to-top{
        top:563px;
    }
}