			*{
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}
			body{
				/*background: url(images/bg/letest_new.png);*/
				background: #FBF9F5;
				background-repeat: no-repeat;
				background-position: center center;
			}

			.letest{
				display: flex;
				margin: 45px 0 45PX 0;
				align-items: center;
			}
			.all_latest{
				font-size: 28px;
			    line-height: 40px;
			    text-align: center;
			    line-height: 60px;
			}
			.letest_all{
				max-width: 960px;
			    margin: 0px auto;
			}
			.new_title{
				width: 175px;
				height: 60px;
				margin: 30px auto;
				background: #cedae6;
				color:#435258;
				border-radius: 6px;
			}
			.pic{
				display: flex;
			}
			.pic1{
				padding: 33px;
				align-self: center;
				/*background: #fff;*/
			}
			.narrative{
				margin: 0 0 20px 0;
			    font-size: 16px;
			    letter-spacing: 0.190em;
			    color: #435258;
			    font-weight: bold;
			}
			.opentime{
			    padding: 20px;
			    align-self: center;
			}
			.time{
				    color: #435258;
	    			font-family: Arial;
	    			font-size: 48px;
	   				text-align: center;
	   				line-height: 48px;
	   			}	
	   		.dateday{	
	   		    color: #000;
	    		text-align: center;
	  			line-height: 25px;
	    		font-size: 12px;
	    	}
	    	/*詳細介紹*/
	    	.letest_concnet{
	    	font-size: 13.5px;
		    line-height: 21px;
		    letter-spacing: 0.190em;
			}
			.kind {
			    color: #435258;
			    text-align: center;
			    line-height: 25px;
			    font-size: 23px;
			    font-family: "微軟正黑體";
			}
			/*.new_bline {
    			display: flex;
			}		*/
			/*圖片轉動*/
			.srcpng {
			    perspective: 1000px;
			}	
			.imgsrc:hover img{
				transform: rotateY(50deg);
			}
			img{
				transition: all 1s;
			}
			.right{
				width: 50px;
				height: 50px;
			}

			@media screen and (max-width: 414px){
				.letest{
					flex-direction:column;
				}
				.letest_concnet{
					font-size:20px;
				    line-height: 1.5;
				}

				.narrative{
					font-size:25px;
					line-height: 40px;
				}
				
				.letest{
					margin: 0;
				}
				.opentime{
					display: none;
				}
				.letest_img{
					padding:10px 0 0 0;
					min-width: 250px;
				}
		
			}
