			*{
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}
			body{
				background: url(images/bg/letest_new.png);
				background-repeat: no-repeat;
				background-position: center center;
			}
			.new_latest{
				max-width: 100%;
				margin:0 auto;
			}
			/*選單*/
			.new_tag{
				display: flex;
				width: 100%;
				min-width: 50%;
				margin: 40px 0 0 0;
				justify-content: center;
			}
			ul.new_tag li{
				padding: 20px;
				letter-spacing: 0.190em;
			}
			a.color {
			    padding: 0 10px;
			}
			.color li{
				text-decoration:none;
				color:#435258;
				border-bottom:1px solid #cedae6;
			}
			.letest{
				display: flex;
				margin: 45px 0 45PX 0;
				justify-content: space-between;
				align-items: center;
			}
			.all_latest{
				font-size: 28px;
			    line-height: 40px;
			    text-align: center;
			    line-height: 60px;
			}
			.letest_all{
				max-width: 960px;
			    /*justify-content: center;*/
			    margin: 20px auto;
			}
			.new_title{
				width: 175px;
				height: 60px;
				margin: 30px auto;
				background: #cedae6;
				color:#435258;
				border-radius: 6px;
			}
			.color li:hover{
				color:#fb8134;
			}
			.pic{
				display: flex;
			}
			.pic1{
				padding: 33px;
				align-self: center;
			}
			.narrative{
				margin: 0 0 20px 0;
			    text-align: center;
			    /*letter-spacing: 0.075em;*/
			    font-size: 20px;
			    letter-spacing: 0.190em;
			    color: #435258;
			    font-weight: bold;
			}
			.opentime{
			    border-left: 1px solid #fb8134;
			    /*padding: 45px;*/
			    padding: 20px;
			    align-self: center;
			}
			.time{
				    color: #435258;
	    			font-family: Arial;
	    			font-size: 48px;
	   				text-align: center;
	   				line-height: 48px;
	   			}	
	   		.dateday{	
	   		    color: #000;
	    		text-align: center;
	  			line-height: 25px;
	    		font-size: 12px;
	    	}
	    	/*詳細介紹*/
	    	.letest_concnet{
	    	font-size: 16px;
		    line-height: 30px;
		    letter-spacing: 0.190em;
			}
			.kind {
			    color: #435258;
			    text-align: center;
			    line-height: 25px;
			    font-size: 23px;
			    font-family: "微軟正黑體";
			}
			.new_bline {
    			display: flex;
			}		
			/*圖片轉動*/
			.srcpng {
			    perspective: 1000px;
			}	
			.imgsrc:hover img{
				transform: rotateY(50deg);
			}
			img{
				transition: all 1s;
			}

			@media screen and (min-width: 540px) and (max-width: 1062px){
				.letest{
				flex-direction:column;
			}
				.narrative{
				font-size:25px;
				line-height: 40px;
			}

			@media screen and (min-width: 0px) and (max-width: 540px){
			.letest{
				flex-direction:column;
			}
			ul.new_tag li {
    			padding: 14px;
    		}
			.letest_concnet{
				font-size:20px;
				padding: 40px;
			}
			.narrative{
				font-size:25px;
				line-height: 40px;
			}
			.new_tag{
				width: 100%;
			    font-size: 25px;
			    text-align: center;		
				}
			.new_bline{
				padding: 10px;
				flex-direction: column;
			}
			.letest{
				margin: 0;
			}
			.opentime{
				display: none;
			}
			body{
			/*background: url(images/bg/bg3smail.png);
			background-size:100%;*/
			background-repeat: repeat;
			}
					}
