body{
	/*background: url(images/bg/newIPbg.png);*/
	background: #FBF9F6;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family:"微軟正黑體";
}
.title_word{
    font-size: 25px;
	text-align: center;
	color: #fff;
	background: #FB8134;
	padding: 30px;
}

.container{
	background: #FFF;
}
.member_box{
	max-width:500px;
	margin: 0 auto;
}
p.title_word{
	padding: 10px;
	margin: 10px 0;
}
.member_form {
    padding: 36px;
    text-align: center;
}

input[type="radio"] {
        margin: 20px;
}
input[type="text"] {
    margin: 10px;
}
.member_buttom{
	display: flex;
	justify-content: center;
	text-align: center;
	line-height: 40px;
	padding: 10px;
}
.member_left{
	border:1px solid #000;
	width: 200px;
	height: 40px;
    margin: 20px;
    color:#000;
}
.member_right{
	background: #FB8134;
	color:#fff;
	width: 200px;
	height: 40px;
    margin: 20px;
}
span.airal{
	font-family: Arial;
}
