*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
		body{
			background: url(images/bg/newIPbg.png);
			background-size: cover;
			/*background-repeat: no-repeat;*/
			background-position: center center;
		}

.member_all{
	margin: 0 auto;
	max-width: 1000px;
	width: 120px
	height: 40px;
}
.member_only {
    text-align: center;
    font-size: 28px;
    padding: 50px 0 40px 0;
    font-family: "微軟正黑體";
    font-weight: bold;
        letter-spacing: 0.190em;
}
.login_open {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 143px;
}
.login, .input {
    font-size: 30px;
    text-align: center;
    padding: 0 70px;
}
p.member_a {
    font-size: 20px;
    padding: 0 0 15px 0;
}
#key{
	padding: 10px;
	border-radius: 6px;
	border:1px solid #ccc;
	margin:10px;
}
#check{
	background: #FB8134;
	color:#fff;
	width: 200px;
	font-size: 20px;
	padding: 10px;
}
.check_box{
	margin: 0 auto;
    width: 200px;
}
.password{
	font-size: 16px;
}