*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
		body{
			/*background: url(images/bg/newIPbg.png);*/
			background: #FBF9F5;
			background-size: cover;
			/*background-repeat: no-repeat;*/
			background-position: center center;
		}
a {
    color: #FB8134;
}
.member_all{
	margin: 0 auto;
	max-width: 1000px;
	width: 120px
	height: 40px;
}
.member_only {
    text-align: center;
    font-size: 28px;
    padding: 50px 0 40px 0;
    font-family: "微軟正黑體";
    font-weight: bold;
    letter-spacing: 0.190em;
    color:#345258;
}
/*
==============================================
fadeIn
==============================================
*/

.member_only{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		transform: scale(1.1);	
	}
	80% {
		transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}

@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		-webkit-transform: scale(1.1);
	}
	80% {
		-webkit-transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}		
}
.login_open {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 143px;
}
.login, .input {
    font-size: 30px;
    text-align: center;
    padding: 0 70px;
}

.password{
	font-size: 10px;
	    text-align: left;
    padding: 0 10px 0 10px;
}

@media (max-width: 540px) {
	.login_open {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 143px;
    }
    .password {
    text-align: center;
}
}
p.member_a {
    font-size: 20px;
    padding: 0 0 15px 0;
    color: #435258;
}
#key{
	    padding: 10px;
    border: 1px solid #fff;
    margin: 10px;
    background: #fff;
}
#check{
	background: #FB8134;
	color:#fff;
	width: 200px;
	font-size: 20px;
	padding: 10px;
}
.check_box {
    margin: 0 auto;
    width: 200px;
    padding: 15px 0 0 0;
}
