*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	  font-family:"微軟正黑體";
}
body{
	background: url(images/bg/newIPbg.png);
}
.container{
	background: #fff;
	/*padding: 10px;*/
}
.member_login_all{
	max-width: 500px;
	margin: 0 auto;
	color:#345258;
	text-align: center;
	padding: 94px 0 95px 0;
}
.member_login_cart{
	padding: 20px;
	font-size: 40px;
	font-weight: bold;
	font-family: Arial;
}
.member_title{
	padding: 30px;
	color:#FB8134;
}
.process_buttom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1180px;
    /*padding: 20px;*/
}
.process_willsale {
        background: #FB8134;
    color: #fff;
       width: 250px;
    font-size: 20px;
    padding: 10px;
}
a.process_back {
    background: #FB8134;
    color: #fff;
    width: 250px;
    font-size: 20px;
    padding: 10px;
}