*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	  font-family:"微軟正黑體";
}
body{
	/*background: url(images/bg/newIPbg.png);*/
	background: #FBF9F5;
}
.container{
	background: #fff;
	/*padding: 10px;*/
	border-radius: 6px;
}
.member_login_all{
	max-width: 800px;
	margin: 0 auto;
	color:#345258;
	text-align: center;
	padding: 94px 0 95px 0;
}
.member_login_cart{
	padding: 20px;
	font-size: 40px;
	font-weight: bold;
	font-family: Arial;
}
.member_title{
	padding: 30px;
}
.process_buttom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1180px;
    /*padding: 20px;*/
}
.process_willsale {
    background: #FB8134;
    color: #fff;
    width: 200px;
    font-size: 20px;
    padding: 10px;
    margin: 0 0 0 5px;
}
a.process_back {
    background: #FB8134;
    color: #fff;
    width: 200px;
    font-size: 20px;
    padding: 10px;
    margin: 0 5px 0 0;
}
.dis{
	display: flex;
}
p{
	flex: 1;
	color:#345258;
}
.member_info{
	flex-direction:column;
}

.bgc{
	background: #FBF9F5
}
.font_c{
	color:#FB8134;
}