*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
		body{
			background: url(images/bg/newIPbg.png);
			background-size: cover;
			/*background-repeat: no-repeat;*/
			background-position: center center;
		}
			.new_content{
				max-width: 90%;
				/*height: 1000px;*/
				margin: 0 auto;
			}
			.new_tag{
				display: flex;
				width: 100%;
				min-width: 50%;
				margin: 40px 0 0 0;
				justify-content: center;
			}
			.new_bline {
			    display: flex;
			}
			ul.new_tag li{
				padding: 20px 0 10px 0;
				letter-spacing: 0.190em;
			}
			
			.new_titletwo{
				   padding: 20px 0 0 0;
				   width: 100%;

			}
			.imgsrc:hover img{
			transform:rotateY(50deg);
			}
			.imgsrc{
				perspective: 1000px;
			}
			/*.new_title {
			    width: 175px;
			    height: 80px;
			    background: #cedae6;
			    color: #435258;
			    border-radius: 6px;
			}*/
			.new_circle{
				/*line-height: 1px;*/
				text-align: center;
			}
			.new_big{
				font-size: 28px;
			    line-height: 65px;
			    background-size: 175px 80px;
			}
			.new_time{
				width: 90%;
			}
			.title_word{
				font-size:22px;
				font-weight: bold;
				/*height: 80px;*/
				/*line-height: 80px;*/
				color:#435258;
				letter-spacing: 0.075em;
				justify-content: center;
				font-family: "微軟正黑體";
				margin: 20px;
				letter-spacing: 0.190em;
			}
			.title_wo{
				/*height: 80px;*/
			    width: 90%;
			    margin: 0 auto;
			    text-align: center;
			    align-self: center
			}
			a.color {
			    padding: 0 10px;
			}
			.color li{
				text-decoration:none;
				color:#435258;
				border-bottom:1px solid #cedae6;
			}
			.color li:hover{
				color:#fb8134;
			}
			.colora{
				color:#435258;

			}
			.new_text{
				margin: 0 0 20px 0;
				/*max-width: 90%;*/
				text-align: center;
				letter-spacing: 0.075em;
				line-height: 24px;
				font-size: 14px;
				padding: 20px 0 0 0;
			}
			.new_images{
				display: flex;
	    		margin: 0 auto;
	    		flex-wrap: wrap;
	    		max-width: 960px;
	    		justify-content: space-around;
				padding-bottom: 50px;
			}
			.new_bgsmail {
			   	padding: 20px;
			    height: 322px;
			    background: #fbf9f5;
			    width: 455px;
			    margin-left: 2px;
			    margin-top: -5px;
			}
			.new_right{
				padding-left: 45px;

			}
			.new_one{
			color: #435258;
				font-size: 25px;
				font-family: "微軟正黑體";
				font-weight: bold;
			}
			.new_two{
				color:#fb8134;
				font-size: 25px;
				font-family: "微軟正黑體";
				font-weight: bold;
			}
			.new_content_five{
			color: #000;	
				font-size: 16px;
				font-family: "微軟正黑體";
				font-weight: bold;
			    line-height: 30px;
				margin: 0 0 2em 0;
			}
			.new_button{
				display: flex;
				align-items: flex-end;
			}
			.new_buy{
				    width: 120px;
				    height: 40px;
				    border-radius: 6px;
				    background: #fb8134;
				    line-height: 40px;
				    text-align: center;
				    font-family: "微軟正黑體";
				    font-size: 20px;
				    color: #fff;
				    margin-right: 58px;
				    font-weight: bold;
			}
			.new_text_word{
					letter-spacing: 0.190em;
					color:#000;
					max-width: 960px;
    				margin: 0 auto;
			}
			.new_track{
				width: 60px;
			    height: 38px;
			    background: #435258;
    			color: #fbf9f5;
			    line-height: 38px;
			    text-align: center;
			    font-family: "微軟正黑體";
			    font-size: 16px;
			    margin-right: 20px;
			    border-radius: 7px;
			}
			.new_other{
				font-size: 28px;
			    line-height: 40px;
			    text-align: center;
			    line-height: 60px;
			}
			.new_title_two {
			    width: 175px;
			    height: 60px;
			    /*background: #cedae6;*/
			    color: #435258;
			    border-radius: 6px;
			    margin: 30px auto;

			}
			.new_picture{
			    display: flex;
			    justify-content: space-around;
			    /*margin: 0px 0 20px 0;*/
			    flex-wrap: wrap;
			}
			.color li:hover{
				color:#fb8134;
			}
			.fontfamily{
				font-family: Arial;
			}
			.new_otherone{
				color:#435258;
				    margin: 35px;
			}
			.new_textone{
				width: 170px;
				height: 50px;
				/*background: #cedae6;*/
				font-size: 16px;
				line-height: 20px;
				flex-wrap:  wrap-reverse;
				text-align: center;
				letter-spacing: 0.075em;
			}
			input[type="text"]{
				padding:5px 25px; 
				box-shadow: 1px 1px 1px #fb8134;
				cursor:pointer;
				border-radius: 10px; 
				outline:none;
				width: 800px;
			}

			.border_border{
				display: flex;
				padding: 20px ;
				width: 100%;

			}
			.oneimage .new_right{
				width: 100%;
			}
			.imgone{
				width: 45px;
				height: 45px;
				margin: 0 20px;
			}
			.new_check{
				background: #435258;
				outline:none;
				width: 110px;
				height: 30px;
				color:#fff;
				border-radius: 10px;
				font-size:14px;

			}
			.new_check_send{
				font-size:14px;
				line-height: 30px;
    			text-align: center;	
    			cursor:pointer;		
    		}
			.new_picfour{
				text-align: center;
			}
			.new_message{
				margin: 20px auto;
				    width: 100%;
			}
			/*rwd*/
			@media screen and (min-width: 400px) and (max-width: 1062px){
			.new_right{
				padding-left: 0px;
			}
			.title_word{
				font-size: 22px;
			}
			.new_text{
				font-size:18px;
				line-height: 45px;
			}
			.ul.new_tag li{
				padding: 20px;
			}
			.new_textone{
				line-height: 25px;
			}
			body{
			background: url(images/bg/newIPbgsmail.png);
			background-size:100%;
			/*background-repeat: no-repeat;*/
		}
		}
			@media screen and (min-width: 0px) and (max-width: 540px){
			ul.new_tag li {
 				  padding: 14px;
			}
			.new_right{
				padding-left: 0px;
			}
			.new_tag{
				width: 100%;
			    font-size: 25px;
			    text-align: center;
			}
			.new_bline{
				padding: 10px;
			    flex-direction: column;

			}
			.title_word{
				font-size: 23px;
    			line-height: 1.4;
			}
			.new_text{
				font-size:18px;
				line-height: 45px;
			}
			.ul.new_tag li{
				padding: 20px;
			}
			.new_textone{
				line-height: 25px;
			}
			body{
			background: url(images/bg/newIPbgsmail.png);
			background-size:100%;
			/*background-repeat: no-repeat;*/
		}
		}