	*{
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}
			body{
				line-height: 1.5;
				background: url(images/bg/processbg.png);
			}
		   .title {
			    display: flex;
			    margin: 120px 142px 120px 142px;
			}
			
		   .wellcome_content{
    			font-size: 16px;
			    line-height: 36px;
			    letter-spacing: 0.190em;
			    padding: 0 50px 0 0;
		   }
		   .wellcome_header{
			    margin: 0 0 20px 0;
			    /*text-align: center;*/
			    /* letter-spacing: 0.075em; */
			    font-size: 30px;
			    letter-spacing: 0.190em;
			    color: #435258;
			    font-weight: bold;
		   }
		   .content1{
		   		flex: 1;
		   		padding: 20px;
		   }
		   .content2{
		   		flex: 1;
		   		align-self: center;
		   		padding: 150px 25px;
		   }
		   p {
			    line-height: 2;
			}
		   .rule{
			    text-align: center;
			    margin: 0 0 20px 0;
			    font-size: 30px;
			    letter-spacing: 0.190em;
			    color: #435258;
			    font-weight: bold;
		   }
		   .rules ol li, .rules ul li {
			    margin-bottom: .4em;
			    padding-left: 1.25em;
			    text-indent: -1.25em;
			    list-style: none;
			    line-height: 2.5;
			    font-size: 18px;
			}
		   .process-header .title {
    		margin-bottom: 1em;
			}
		   .notice{
		   	height: 700px;
		   	overflow: scroll;
		   	margin: 20px 142px;
		   	overflow-x:hidden ;
		   	letter-spacing: 0.190em;
		   }
		   .notice .pro{
		   	/* margin-boproom: 1.2em; */
		    margin-top: 1.5em;
		    color: #435258;
		    font-weight: 700;
		    font-family: "微軟正黑體";
		    line-height: 1.4;
				   }
			.process_title {
    		text-align: center;
    		letter-spacing: 0.190em;
			}
			.process_all{
				margin-top: 5px;
				line-height: 2;
    			font-size: 20px;
			}
			.rules>ol, .rules>ul {
			    margin-left: 1.5em;
			}	
			.process_img {
 				   width: 100%;
			}
			.process_buttom{
				display: flex;
    			align-items: center;
    			justify-content: center;
				margin: 40px 142px;
			}
			.process_back{
				width: 200px;
			    height: 65px;
			    border-radius: 6px;
			    background: #fb8134;
			    line-height: 65px;
			    text-align: center;
			    font-family: "微軟正黑體";
			    font-size: 20px;
			    color: #fff;
			    margin-right: 58px;
			    font-weight: bold;
			}
			.process_willsale{
				width: 200px;
				height: 65px;
				border-radius: 6px;
			    line-height: 65px;
			    text-align: center;
			    font-family: "微軟正黑體";
			    font-size: 20px;
			    color: #000;
			    margin-right: 58px;
			    font-weight: bold;
			    border:1px solid #000;
			}
			@media screen and (max-width: 540px) {
				.title{
					/*flex-wrap: wrap;*/
					margin: 20px auto;
					flex-direction:column;
				}
				.wellcome_content{
    			font-size: 16px;
		   	    line-height: 37px;
		   		letter-spacing: 0.190em;
				}
				.wellcome_header{
				text-align: center;
				}
				.notice{
			   	height: 200px;
			   	margin: 0 30px;
			   	font-size: 16px;
			    line-height: 37px;
			    letter-spacing: 0.190em;
			   }
			   .process_title{
			   	letter-spacing: 0.190em;
			   	text-align: inherit;
			   	margin: 0 30px;
			   }
				.process_buttom {
				margin: 0 auto;
				padding: 25px 0;
				justify-content: space-between;
				margin: 0 30px;
				}
				.process_back{
				width: 40%;
				margin: 0;
				}
				.process_willsale {
				 width: 40%;
				 margin: 0;
				}
				
			}