	*{
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}
			body{
				line-height: 1.5;
				/*background: url(images/bg/process.png);*/
				background: #FBF9F5;
			}
		   .title {
			    /*display: flex;*/
			    /*margin: 120px 142px 120px 142px;*/
			}
			
		   .wellcome_content{
    			font-size: 16px;
			    line-height: 36px;
			    letter-spacing: 0.190em;
			    width:50%;
			    margin:0 auto;
			    /*padding: 0 50px 0 0;*/
		   }
		   .wellcome_header{
			    margin: 0 0 20px 0;
			    /*text-align: center;*/
			    /* letter-spacing: 0.075em; */
			    font-size: 30px;
			    letter-spacing: 0.190em;
			    color: #435258;
			    font-weight: bold;
			    background: #FBF9F5;
    			text-align: center;
				    padding: 40px 142px;
		   }
		   /*
==============================================
fadeIn
==============================================
*/

.wellcome_header{
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn; 

  animation-duration: 1.5s; 
  -webkit-animation-duration: 1.5s;

  animation-timing-function: ease-in-out; 
  -webkit-animation-timing-function: ease-in-out;   

  visibility: visible !important; 
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0.0;   
  }
  60% {
    transform: scale(1.1);  
  }
  80% {
    transform: scale(0.9);
    opacity: 1; 
  } 
  100% {
    transform: scale(1);
    opacity: 1; 
  }   
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;   
  }
  60% {
    -webkit-transform: scale(1.1);
  }
  80% {
    -webkit-transform: scale(0.9);
    opacity: 1; 
  } 
  100% {
    -webkit-transform: scale(1);
    opacity: 1; 
  }   
}
		   .content1{
		   		margin: 0 auto;
    			padding: 20px 0;
    			justify-content: center;
    			display: flex;
		   }
		   .content2{
	
		   }
		   p {
			    line-height: 2;
			}
		   /*.rule{
			    text-align: center;
			    margin: 0 0 20px 0;
			    font-size: 30px;
			    letter-spacing: 0.190em;
			    color: #435258;
			    font-weight: bold;
		   }*/
		   .rules ol li, .rules ul li {
			    margin-bottom: .4em;
			    padding-left: 1.25em;
			    text-indent: -1.25em;
			    list-style: none;
			    line-height: 2.5;
			    font-size: 18px;
			}
		   .process-header .title {
    		margin-bottom: 1em;
			}
		   .notice{
		   	height: 700px;
		   	overflow: scroll;
		   	margin: 20px 142px;
		   	overflow-x:hidden ;
		   	letter-spacing: 0.190em;
		   	width: 55%;
		   	margin: 0 auto;
		   }
		   .notice .pro{
		   	/* margin-boproom: 1.2em; */
		    margin-top: 1.5em;
		    color: #435258;
		    font-weight: 700;
		    font-family: "微軟正黑體";
		    line-height: 1.4;
				   }
			.process_title {
    		text-align: center;
    		letter-spacing: 0.190em;
			}
			.process_all{
				margin-top: 5px;
				line-height: 2;
    			font-size: 20px;
			}
			.rules>ol, .rules>ul {
			    margin-left: 1.5em;
			}	
		/*	.process_img {
 				width: 80%;
			}*/
			.process_buttom{
				display: flex;
    			align-items: center;
    			justify-content: center;
				margin: 40px 142px;
			}
			.process_back {
			    font-size: 20px;
			    width: 170px;
			    height: 40px;
			    line-height: 30px;
			    background: #fb8236;
			    color: white;
			    border: 0;
			    box-sizing: border-box;
			    cursor: pointer;
			    padding: 6px 8px;
			    text-align: center;
			        margin-right: 10px;
			}
			.process_willsale{
				font-size: 20px;
			    width: 120px;
			    height: 40px;
			    line-height: 30px;
			    background: #fb8236;
			    color: white;
			    border: 0;
			    box-sizing: border-box;
			    cursor: pointer;
			    padding: 6px 8px;
			    text-align: center;
			}
			@media screen and (max-width: 540px) {
				.title{
					/*flex-wrap: wrap;*/
					margin: 20px auto;
					flex-direction:column;
				}
				.wellcome_content{
    			font-size: 16px;
		   	    line-height: 37px;
		   	    width: 400px;
		   		letter-spacing: 0.190em;
				}
				.wellcome_header{
				text-align: center;
				}
				.notice{
			   	height: 500px;
			    width: 400px;
			   	font-size: 16px;
			    line-height: 37px;
			    letter-spacing: 0.190em;
			   }
			   .process_title{
			   	letter-spacing: 0.190em;
			   	text-align: inherit;
			   	margin: 0 30px;
			   }
				.process_buttom {
				margin: 0 auto;
				padding: 25px 0;
				justify-content: space-between;
				margin: 0 30px;
				}
				.process_back{
				width: 40%;
				margin: 0;
				}
				.process_willsale {
				 width: 40%;
				 margin: 0;
				}
				.process_img{
					display: none;
				}
				.wellcome_header {
    	    		padding: 40px 90px;
    			}
			}