*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	/*background: url(images/bg/bg2.png);*/
	background: #FBF9F5;

}
.all{
	/*display: flex;*/
	max-width: 1200px;
	margin: 0 auto;
}
.one,.two,.three,.four{
	/*flex: 1;*/
	padding: 55px;
	line-height: 1.20;
}
.two{
	/*flex: 3;*/
}
.two{
	border-left: 1px solid #fff;
}
.title{
	text-align: center;
    padding: 40px 142px;
    background: #FBF9F5;
}
.title_one{
	font-size: 18px;
	font-weight: bold;
	/*letter-spacing: 0.190em;*/
	
}
.font_one{
	color:#435258;
	font-size:55px;
}
.font_two{
	margin-left: 35px;
}
.title_content{
	font-size:16px;
	color:#000;
	margin-left: 36px;
}
.all_rule {
    font-weight: bold;
        font-size: 30px;
    color:#345258;
	letter-spacing: 0.190em;
}
/*
==============================================
fadeIn
==============================================
*/

.title{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		transform: scale(1.1);	
	}
	80% {
		transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}

@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		-webkit-transform: scale(1.1);
	}
	80% {
		-webkit-transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}		
}
.process_buttom{
	font-family: "微軟正黑體";
	display: flex;
    align-items: center;
    justify-content: center;
	margin: 0 auto;
	padding: 40px 142px;
	max-width: 1200px;
}
.process_back {
    font-size: 20px;
    width: 170px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    background: #fb8236;
    color: white;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    padding: 6px 8px;
    margin-right: 10px;
}

.process_willsale {
    font-size: 20px;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    background: #fb8236;
    color: white;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    padding: 6px 8px;
}
@media screen and (min-width: 540px) and (max-width: 1062px){
	.process_buttom {
   	padding: 0 0 20px 0; 
   	margin: 0 29px;
	}
	.process_back {
    margin-right: 60px;
    }
    .title {
    	    padding: 40px 90px;
    }
    
			
					}
