*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: url(images/bg/bg2.png);
}
.all{
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
}
.one,.two{
	flex: 1;
	padding: 55px;
	line-height: 1.20;
}
.two{
	border-left: 1px solid #ccc;
}
.title{
	text-align: center;
	margin: 20px ;	
}
.title_one{
	font-size: 18px;
	font-weight: bold;
	
}
.font_one{
	color:#435258;
	font-size:55px;
}
.font_two{
	margin-left: 35px;
}
.title_content{
	font-size:16px;
	color:#000;
	margin-left: 36px;
}
h1 {
    font-weight: bold;
    font-size: 25px;
}
a.process_back {
	color:#fff;
	background: #FB8134;
    width: 200px;
    font-size: 20px;
    padding: 10px;
}
a.process_willsale {
    color: #fff;
    background: #FB8134;
    width: 200px;
    font-size: 20px;
    padding: 10px;
}
.process_buttom {
    text-align: center;
        padding: 20px;
}