body{
	margin:0;
	position: relative;
	overflow-x: hidden;
	/*background: url(images/bg/bg1.png)no-repeat center center;*/
	background: #fbf9f5;
	background-size: cover;
}
a:visited{
	color:#000000;
}
a{
	color:#000000;
}
div, span{
	vertical-align: top;
}
.main{
	margin: 0 142px ;
	box-sizing: border-box;
	text-align: center;
	box-sizing: border-box;
	max-width: 1600px;
	
	padding-top: 60px;
}
.content{
	margin: 0px 0 0px;

}
.item_main{
	vertical-align:top;
	margin-top:0px;
}
.item_right{
	width:31%;
	display: inline-block;
	vertical-align:top;
	padding: 0px 0;
	margin-left: 10px;
}
.picture_l{
	border:2px solid #242424;
	padding:5% 0% 3%;
	box-sizing: border-box;
}
.pic_l_frame{
	/*border:5px solid #FF1E1E;*/
	display: inline-block;
	width:90%;
	box-sizing: border-box;
}
.pic_l_frame img{
	width: 100%;
}
.item_left{
	text-align: left;
	width: 50%;
	border:2px solid #E3E3E3;
	height: 557px;
	display: inline-block;
	padding:3% 2%;
}
.item_left h2{
	color:#fb8236;
	font-size: 2.8vw;
	line-height: 150%;
	font-weight: bold;
	margin-bottom: 2.5%;
}
.item_left h5{
	font-size: 20px;
	font-weight: bold;
}
.item_left .por_txt{
	color: #435258;
	font-size: 16px;
	line-height:110%;
	letter-spacing:0.4px;
	text-align: justify;
}
.item_left p, .item_left span{
	color:#000;
	font-size: 16px;
	line-height:200%;
	letter-spacing:0px;	
}
.item_left p{
	font-weight: bold;
}
.item_left p:nth-child(3){
	padding-top:8px;
	    letter-spacing: 0.19em;
    line-height: 2;
	font-weight: normal;
}
.item_left p:nth-child(4) {
    padding-top: 26px;
}
.item_left p:nth-child(8){
	color:#000;
}
.item_left .price{
	color:red;
}
.picture_s{
	margin-top:1%;
}
.picture_s div{
	display: inline;
}
.picture_s div img{
	opacity: 1;
	cursor: pointer;
	width: 30%;
	transition:all .3s;
	transform: scale(1);
}
.picture_s div img:hover{
	transform: scale(1.2);
}
.picture_s div:nth-child(2) img{
	padding: 20px 3% 0;
}
.button{
	/*background: #ccc;*/
    height: 80px;
}
.button span{
	font-size: 20px;
	width:120px;
	height: 40px;
	line-height: 80px;
	background:#fb8236 ;
	color: white;
	border:0;
	box-sizing: border-box;
	cursor: pointer;
	padding:6px 8px;
	/*border-radius: 10px;*/

}
.button span:nth-child(2){
	background:#FFFFFF;
	border:1px solid #F4F4F4;
	color: #21212B;
	width:150px;
	margin-left: 15px;
}
/*----------------------------------------similar-----*/
body{
	margin:0;
	padding:0 0;
	position: relative;
	overflow-x: hidden;	
}
.similar{
	margin-top: 7%;
}
.similar_header {
    font-size: 30px;
    color: #435258;
}
.similar_product{
	margin-bottom: 5.9%;
}
.similar_products{
	max-width: 80%;
	margin:0 auto;
}
.similar_products img{
	display: inline-block;
	margin:80px 0 0px;
	width:60%;
	cursor: pointer;
}
.similar_products .slick-prev,
.similar_products .slick-next
{	width: 65px;
	height:65px;
	z-index: 1;
	margin:4.4% 0 0;
}
.similar_products .slick-prev{
	left:-6.5%;
}
.similar_products .slick-next{
	right:-6.5%;
}
.slick-dots {
	bottom: -40px;
}
.slick-slide:focus{
	outline: -webkit-focus-ring-color auto 0px;
}
/*--------------------------------------------RWD---*/
@media screen and (max-width:767px) {

	.main{
		margin: 0px auto ;
		box-sizing: border-box;
		text-align: center;
		box-sizing: border-box;
		max-width: 1600px;
		padding-top: 0px;
	}
	.item_right{
		width:51%;
		border:0px solid #231D1D;
		display: inline-block;
		vertical-align:top;
		padding: 0px 0;
	}
	.item_left{
		text-align: left;
		width: 80%;
		border:1px solid #E3E3E3;
		display: inline-block;
		padding:12px;
		height: 590px;
	}
	.item_left h2 {
	    color: #fb8236;
	    font-size: 5.3vw;
	    line-height: 150%;
	    font-weight: normal;
	}
	.item_left h5 {
    	font-size: 20px;
	}
	.item_left .por_txt {
	    color: #435258;
	    font-size: 18px;
	    line-height: 2;
	    letter-spacing: 0.190em;
	    text-align: justify;
	}
	.item_left p, .item_left span {
	    color: #000;
	    font-size: 16px;
	    line-height: 2;
	    letter-spacing: 0.190em;
	}
	.item_right {
	    width: 90%;
	    display: block;
	    vertical-align: top;
	    padding: 0px 0;
	    margin: 10px auto 0;
	}
	.picture_l {
		padding: 2% 0% 1%;
	    box-sizing: border-box;
	    width:83%;
	    margin:0 auto;
	    transition:all .35s;
	    border: 0px solid #242424;
	    transition:all .35s;
	}
	.picture_l.active{
		width: 94%;
		border: 1px solid #242424;
	}
	.pic_l_frame img{
		cursor:pointer;
	}
	.pic_l_frame {
	    /* border: 5px solid #FF1E1E; */
	    display: inline-block;
	    width: 96%;
	    box-sizing: border-box;
	}
	.picture_s div {
    	display: block;
	}
	.picture_s div img{
		width: 80%;
		transition:all .35s;
		cursor:pointer;
	}
	.picture_s div img:hover{
		transform: scale(1);
	}
	.picture_s div img.active{
		width: 92%;
		border: 1px solid #242424;
		padding:2% 2%;
	}
	.picture_s div:nth-child(2) img{
		/*padding: 0px 0% 0;*/
	}
	.picture_s div img{
		margin-top: 10px;-
	}
	.picture_s div:nth-child(1) img{
		margin-top: 0px;
	}
	.button span {
		font-size: 30px;
		width: 120px;
		height: 40px;
		background: #fb8236;
		color: white;
		border: 0;
		box-sizing: border-box;
		cursor: pointer;
		padding: 12px 16px;
	}
	.button span:nth-child(2) {
	    background: #FFFFFF;
	    border: 1px solid #F4F4F4;
	    color: #21212B;
	    width: 180px;
	    margin:10% auto 0;
	}
	.similar{
		margin-top: 11%;
	}
	.similar_product{
		margin-bottom: 4%;
	}
	.similar_products img {
	    display: inline-block;
	    margin: 20px 0 0px;
	    width: 60%;
	}
	.similar_products{
		max-width: 70%;
		margin:0 auto;
	}
	.similar_products .slick-prev
	{
		left:-17%;
	}
	.similar_products .slick-next{
		right:-17%;
	}
	.similar_products .slick-prev,
	.similar_products .slick-next{
		width: 65px;
		height:65px;
		z-index: 1;
		margin:2.8% 0 0;
	}
@media screen and (max-width:540px) {
body{
	margin:0;
	position: relative;
	overflow-x: hidden;
	background: url(images/bg/bgsmail.png)

	background-size: cover;
}

}