.ani_frame{
	display: none;
	text-align: center;
	margin: auto 0;
	width:100vw;
	max-width: 1600px;
	height:900px;
	background:rgba(255,255,255,0);
	position: fixed;
	top:0;
	z-index: 11;
}
.perspective{
	perspective:1600px;
}
.ani_logo{
	/*background: url("images/index/LOGO_no_o.png") no-repeat center;*/
	background: #cedae6;
	background-size: contain;
	height:900px;
	width:1382px;
	position: relative;
	margin:0 auto;
	overflow: hidden;
	opacity: .5;

}
.mask{
	background: rgba(255,255,255,.8);
	position: absolute;
	transition: all .3s;
}
.fa{
	width: 32.8%;
	height: 50.5%;
	top:-3px;
	left:-3px;
	transform: scale(.5,.5);
}
.nt{
	width: 36.13%;
	height: 50.85%;
	top:-5px;
	left: 495px;
	transform: scale(1,1);
}
.a{
	width: 29.2%;
	height: 50.5%;
	top:-1px;
	left: 992px;
	transform: scale(1,1);
}
.r{
	width: 28.2%;
	height: 50.5%;
	bottom:-2px;
	left: -2px;
	transform: scale(1,1);
}
.o_pers{
	z-index: 1;
	position: absolute;
	perspective: 700px;
	width: 32.07%;
	height: 50%;
	bottom:-2px;
	left: 320px;
	/*background: rgba(97, 184, 188, .5);*/
	border-radius: 50%;
	transform:translateY(450px) ;
	/*display: none;*/
	opacity: .3;

}
.o{
	background: url("images/index/LOGO_o.png")no-repeat center;
	width: 100%;
	height: 100%;
	position:absolute;
	bottom: 0px;
	left: 0px;
	transform:rotateY(0deg) ;

}
.i{
	width: 22.22%;
	height: 50%;
	bottom:-2px;
	left: 686px;
	transform: scale(1,1);
}
.d{
	width: 28.25%;
	height: 49.93%;
	bottom:-2px;
	left: 992px;
	transform: scale(1,1);
}
.main{
	/*display: none;*/
	width: 100%;
	margin:0 auto;
	opacity: 1;
}
.slider{
	background: #435258;
}
.sl_area_01{
	text-align: center;
	padding: 40px 0px;
}
.sl_area_01 .sl_01_text{
	display: inline-block;
}
.sl_01_text{
	letter-spacing: 1px;
}
.sl_01_text h3{
	font-size: 66px;
	font-weight: bold;
	color:rgb(251, 249, 245);
	letter-spacing: 2px;
}
.sl_01_text p:nth-child(2){
	color:#fb8134;
	font-size: 20px;
	line-height: 44px;
}
.sl_01_text p:nth-child(3){
	letter-spacing: 2px;
}
.sl_01_text p:nth-child(3), .sl_01_text p:last-child{
	color:rgb(251, 249, 245);
	font-size: 26px;

}
.sl_area_01 img{
	display: inline-block;
	vertical-align: middle;
	width:20%;
}
.slick-prev,
.slick-next
{	width: 65px;
	height:65px;
	z-index: 1;
	margin:0 0;
}
.slick-prev{
	left:2.5%;
}
.slick-next{
	right:2.5%;
}
.main_link{
	background: url("images/index/bg0.png")no-repeat center;
	background-size: cover;
	padding: 32px 265px 125px;
	box-sizing: border-box;
	perspective: 1600px;
}
.arrow_dowm{
	display: block;
	margin:0 auto;
	text-align: center;
	margin-bottom: 20px;
	z-index: 1;
	position: relative;
}
.arrow_dowm img{
	transform: rotate(90deg);
}
@keyframes arrow_dowm {
	0%{
		/*transition:all .65s cubic-bezier(.01,.74,.74,.9);*/
		transform: translateY(10px) rotate(90deg);
	}

	100%{
		/*transition: all .65s cubic-bezier(.51,.24,.94,.53);*/
		transform: translateY(-10px) rotate(90deg);
	}
}
.arrow_dowm img.active{
	animation:arrow_dowm .65s  cubic-bezier(.01,.74,.74,.9) infinite alternate;
}


.head{
	width:20.5%;
	padding: 2% 0%;
	background:#cedae6;
	margin:0 auto;
	text-align: center;
	border-radius: 10px;
	font-weight:bold;
	cursor: pointer;
	color:#435258;
	clear: right;
}
.proframe{
	border:4px solid #fb8134;
	display:inline-block;
	vertical-align: middle;
}
.pro_intel{
	transform:translate3d(0px,0px,0px);
	perspective: 900px;
	opacity: 1;
}
.intel_pro_img{
	margin-top: 0px;
}
.proframe img{
	width:220px;
	display: block;
}
.pro_text{
	text-align: center;
	background:#435258;
	color:white;
	font-size:23px;
	padding: 20px 0;
}
.pro_text p{
	padding: 7px 0;
	font-size:18px;
}
.text{
	display: inline-block;
	margin-left: 186px;
	margin-top: 57px;
}
.text h6{
	line-height: 50px;
}
.text p{
	line-height: 25px;
	font-size: 16px;
}
.pro_intel_txt_L{
	margin-left: 20px;
	margin-top: 85px;
}
.intel_pro_img_R{
	float:right;
	display: inline-block;
}
.sec_hand_pro_text{
	background:	#fb8134;
}
.sec_hand_txt{
	margin-top: 10px;
}
.sec_hand_pro_img{
	margin-top:0px;
}
.slider{
	z-index:1;
}
.slick-dotted.slick-slider{
	margin-bottom: 0px;
}
.slick-dots{
	bottom: 12px;
}
