body{
  background: url(images/bg/bg2.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.second_width {
    margin: 0 auto;
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;
}
.second_circle{
    max-width: 960px;
    height: 60px;
    /*background: #cedae6;*/
    color: #435258;
    /*border-radius: 6px;*/
    margin: 0 auto;
    display: flex;
    line-height: 60px;
}
.secone_new{
   max-width: 100px;
    height: 60px;
    /*background: #cedae6;*/
    color: #435258;
    /*border-radius: 6px;*/
    margin: 0 auto;
    display: flex;
    line-height: 60px;
}
.second_choose{
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
}
.second_pa{
      padding: 10px;
      letter-spacing: 0.190em;
}
a.second_search {
    /*line-height: 2.5;*/
    background: #325258;
    height: 30px;
    width: 200px;
    margin: 10px;
}
.choose_pro{
    flex: 1;
    margin: 10px;
    text-align: center;
    font-family: "微軟正黑體";
}
.second{
  /*border:5px solid #FB8134;*/
  margin: 0 23px 0 0 ;
}
.second_pic{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;

}
.second_News{
  font-size: 18px;
  line-height: 40px;
}
.second_title {
    padding: 0 30px 0 30px;
    border-bottom: 1px solid #cedae6;
    color: #435258;
}
.second_title:hover{
  color:#FB8134;
}
.second_search{
  font-size:16px;
  line-height: 2;
  color:#cedae6;
  font-family: "微軟正黑體";
  font-weight: bold;
  width: 50px;
 /* border-radius: 10px;*/
  height: 30px;
}
.sccond_imgshow{
  width: 254px;
  height: 275px;
}
.second_sale{
  width: 254px;
  height: 130px;
  background: #435258;
  text-align: center;
}
.second_neme{
  line-height: 80px;
  color:#fff;
}
.second_na{
  color:#fff;
}
.nt{
  color: #FB8134;
  font-weight: bold;
  font-family: Arial;
}
