body{
  /*background: url(images/bg/bg2.png);*/
  background: #FBF9F5;
  background-repeat: no-repeat;
  background-position: center center;
}
/*.second_width {
    margin: 0 auto;
    display: flex;
    margin-bottom: 20px;
}*/

.second_circle {
    max-width: 960px;
    height: 60px;
    color: #435258;
    margin: 0 auto;
    display: flex;
    line-height: 60px;
    font-size: 20px;
}
.secone_new {
    max-width: 200px;
    height: 60px;
    color: #435258;
    margin: 25px auto;
    display: flex;
    font-weight: bold;
    justify-content: center;
    padding: 10px;
    align-items: center;
    font-size: 22px;
}
/*
==============================================
fadeIn
==============================================
*/

.secone_new{
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn; 

  animation-duration: 1.5s; 
  -webkit-animation-duration: 1.5s;

  animation-timing-function: ease-in-out; 
  -webkit-animation-timing-function: ease-in-out;   

  visibility: visible !important; 
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0.0;   
  }
  60% {
    transform: scale(1.1);  
  }
  80% {
    transform: scale(0.9);
    opacity: 1; 
  } 
  100% {
    transform: scale(1);
    opacity: 1; 
  }   
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;   
  }
  60% {
    -webkit-transform: scale(1.1);
  }
  80% {
    -webkit-transform: scale(0.9);
    opacity: 1; 
  } 
  100% {
    -webkit-transform: scale(1);
    opacity: 1; 
  }   
}
.second_choose{
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    padding: 50px 0 0 0;
    display: flex;
}
/*.second_pa{
      padding: 10px;
      letter-spacing: 0.190em;
      line-height: 40px;
}*/
a.second_search {
    /*line-height: 2.5;*/
    background: #325258;
    height: 30px;
    width: 200px;
    margin: 10px;
}
.choose_pro{
    flex: 1;
    margin: 10px;
    text-align: center;
    font-family: "微軟正黑體";
        /*background: #cedae6;*/
    /*border: 1px solid #cedae6;*/
}
.second{
  /*border:5px solid #FB8134;*/
  margin: 0 23px 0 0 ;
}
.second_pic{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /*margin-bottom: 100px;*/ 
}
.second_News{
  font-size: 18px;
  line-height: 40px;
}
/*.second_title {
    color: #435258;
    background: #FBF9F5;
        font-weight: bold;
}*/
.second_title:hover{
  color:#FB8134;
}
.second_search{
  font-size:16px;
  line-height: 2;
  color:#cedae6;
  font-family: "微軟正黑體";
  font-weight: bold;
  width: 50px;
 /* border-radius: 10px;*/
  height: 30px;
}
.sccond_imgshow{
  width: 254px;
  height: 275px;
}
.second_sale{
      width: 254px;
    height: 65px;
    background: #435258;
    text-align: center;
    font-size: 18px;
        border-radius: 220px;
}
.second_neme{
  line-height: 40px;
  color:#fff;
  font-size: 16px;
}
.second_na{
  color:#fff;
      font-size: 12px;
}
.nt{
  color: #FB8134;
  font-weight: bold;
  font-family: Arial;
}
.slow{
  padding-bottom: 50px;
}

@media (max-width: 414px){
   .second_choose{
    display: none;
   }
   .second{
      margin:0 0 0 0;
      padding-bottom:15px;
   }
  /* .second_width{
    margin-bottom: 40px;
   }*/
}