body{
  background: url(images/bg/shop.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.shop_circle{
  width: 175px;
    height: 60px;
    /*background: #cedae6;*/
    color: #435258;
    border-radius: 6px;
       margin: 70px auto;
}
.shop_title{
  /*background: #cedae6;*/
  height: 40px;
  font-size:28px;
  text-align: center;
  line-height: 60px;
  width: 100%;
  max-width: 960px;
    font-weight: bold;
}
.shop_pic{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
    justify-content: center;
}
.opacity{
  font-size:14px;
  letter-spacing: 0.190em;
}
.shopa{
    padding: 0 10px 0 10px; 
}
.img_show:hover{
  background: url(images/shopa/map01.png);
}
.address{
  line-height: 30px;
}
.widthcenter{
    display: flex;
      margin: 30px 0 100px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

ul.shop_News_title{
  display:flex;
  justify-content: center;
}
/*
@media (min-width:540px){
  ul.shop_News_title{
    justify-content: center;
  }
}*/
.shop_News_content {
    max-width: 1266px;
    margin: 0 auto;
}

ul.shop_News_title li a {
    display: block;
    padding: 0 20px;
    color: #435258;
    }
.shop_News_title li.active {
    /*background: #fb8134;*/
     border-bottom: 5px solid #fb8134; 
}
.shop_News{
  font-size: 18px;
  line-height: 40px;
}

/*其他活動文字*/
.newopen_text {
    padding-left: 20px;
    color: #435258;
    width: 50%;
    padding: 20px;
    align-self: center;
    }
.open_time {
    line-height: 30px;
}
.fontsize {
    font-family: "微軟正黑體" ,Arial;
    font-size: 16px;
    letter-spacing: 0.190em;
}
.open_big {
    font-size: 32px;
    font-weight: bold;
    }
.open_content {
    font-size: 16px;
    line-height: 30px;
}
/*相關訊息*/
.cont_text{
    height: 66px;
    font-size: 20px;
    color:#435258;
    line-height: 66px;
  }
.cont_title:first-letter{
    /*#556369*/
        color:#345258;
        font-size:24px;
        font-weight:bold;
      }
.cont_title{
    color:#435258;
    font-size: 18px;
    line-height: 30px;
  }
.cont_pic1{
    padding: 0 10px 0 10px;
}
.imgshow{
  display: block;
    width: 100%;
    height: auto;
  cursor: pointer;
}

.img_overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 1s ease;
}

.img_map{
  position: relative;
}

.img_map:hover .img_overlay {
  bottom: 0;
  height: 100%;
}

.tab_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (min-width: 0px) and (max-width: 540px){
      .opacity {
        font-size: 18px;
        letter-spacing: 0.190em;
        width: 427px;
        color: #345258;

        }
      .cont_pic1{
        text-align: center;
      }
      }