<!---------------------------------------漢堡架構-->
<div class="hamburger">
    <div class="ham_bar top_bar"></div>
    <div class="ham_bar mid_bar"></div>
    <div class="ham_bar mid_bar2"></div>
    <div class="ham_bar bot_bar"></div>
</div>
<!---------------------------------------漢堡CSS-->
<style>
.hamburger{
width:50px;
height:50px;
background: ;
display:block;
float:left;
margin:5px 0 0 6.51890482398957%;
cursor: pointer;
}
.ham_bar{
width:40px;
height: 5px;
background: #435258;
margin:0 auto;
transition: all .4s cubic-bezier(.44,.33,.39,.96);
}
.top_bar{
margin-top: 7px;
}
.top_bar_active{
transform: translateY(10px) rotate(45deg);
opacity: 0;
}
.mid_bar{
margin:10px auto;
}
.mid_bar_active{
transform: rotate(45deg);
}
.mid_bar2{
margin:-15px auto 10px;
}
.mid_bar2_active{
transform: rotate(-45deg);
}
.bot_bar_active{
transform: translateY(-10px) rotate(315deg);
opacity: 0;
}
</style>
<!---------------------------------------漢堡JS-->
<script type="text/javascript" src="script/jquery-3.2.1.js" charset="UTF-8"></script>
<script>
    var hamburger = $(".hamburger");

    hamburger.click(function(){
        var top_bar = $(".top_bar")
        var bot_bar = $(".bot_bar")
        var mid_bar = $(".mid_bar")
        var mid_bar2 = $(".mid_bar2")
        var sm_nav = $(".sm_nav")
        var sm_nav_a_1 = $(".sm_nav a:nth-child(1)")
        var sm_nav_a_2 = $(".sm_nav a:nth-child(2)")
        var sm_nav_a_3 = $(".sm_nav a:nth-child(3)")
        var sm_nav_a_4 = $(".sm_nav a:nth-child(4)")
        var sm_nav_botBar = $(".sm_nav a .botBar")
        top_bar.toggleClass("top_bar_active");
        bot_bar.toggleClass("bot_bar_active");
        mid_bar.toggleClass("mid_bar_active");
        mid_bar2.toggleClass("mid_bar2_active");
        sm_nav.toggleClass("sm_nav_active");
        sm_nav_a_1.toggleClass("active1");
        sm_nav_a_2.toggleClass("active2");
        sm_nav_a_3.toggleClass("active3");
        sm_nav_a_4.toggleClass("active4");
        sm_nav_botBar.toggleClass("active");
    });
</script>