<div class="col-md-3">
    <div class="thumbnail" style="height:280px; margin:10px 0;">
        <a class="single_product" href="single-product.php?sid=1">
            <img src="imgs/small/PG30036.jpg" style="width: 100px; height: 135px;">
        </a>
        <div class="caption">
            <h5>圖解C++程式設計</h5>
            <h5>洪一新、許瑞珍</h5>
            <p>
                <span class="glyphicon glyphicon-search"></span>
                <span class="label label-info">$ 560</span>
                <select name="qty" class="qty">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>
                <button class="btn btn-warning btn-sm buy_btn" data-sid="1">買</button>
            </p>
        </div>
    </div>
</div>